@()

@main("Welcome to Play") {
  <h1>Team Stats Selection</h1>
<body>
  <!-- Here we will add autofill for the teams of each sport -->
  <select name="Teams">
		<option>AutoFill</option>
		<option>autocomplete</option>
	</select>


Stats: <br/>
<input type="checkbox" name="PlayerNum" id="PlayerNum"
   value="yes" checked="checked">Number of Players<br />
<input type="checkbox" name="Coach" id="Coach"
     value="yes" checked="checked">Coach<br />
<input type="checkbox" name="Wins" id="Wins"
       value="yes" checked="checked">Wins<br />
<input type="checkbox" name="Loses" id="Loses"
               value="yes" checked="checked">Loses<br />
<br/><br/>
<input type="submit" name="submit" id="submit"
  value="Submit">
  //we will be added to link to each

</body>

}
